<div class="CSSgal">

    <!-- Don't wrap targets in parent -->
    <s id="s1"></s> 
    <s id="s2"></s>
    <s id="s3"></s>
    <s id="s4"></s>

    <div class="slider">
        <div style="background:#5b8;">
            <figure>
                <figcaption>Fig.1 - Example of container images being pulled to VirtualBox VMs</figcaption>
                <img src="/img/posts/2023-04-16-container-registry-pull-through-cache/1.png" alt="Example of container images being pulled to VirtualBox VMs" />
            </figure>
        </div>
        <div style="background:#5b8;">
            <figure>
                <figcaption>Fig.2 - Example of container images being pulled to Raspberry Pis</figcaption>
                <img src="/img/posts/2023-04-16-container-registry-pull-through-cache/2.png" alt="Example of container images being pulled to Raspberry Pis" />
            </figure>
        </div>
        <div style="background:#5b8;">
            <figure>
                <figcaption>Fig.3 - Example of container images being pulled to VirtualBox VMs</figcaption>
                <img src="/img/posts/2023-04-16-container-registry-pull-through-cache/1.png" alt="blah" />
            </figure>
        </div>
        <div style="background:#5b8;">
            <figure>
                <figcaption>Fig.4 - Example of container images being pulled to VirtualBox VMs</figcaption>
                <img src="/img/posts/2023-04-16-container-registry-pull-through-cache/1.png" alt="blah" />
            </figure>
        </div>
    </div>

    <div class="prevNext">
        <div><a href="#s4"></a><a href="#s2"></a></div>
        <div><a href="#s1"></a><a href="#s3"></a></div>
        <div><a href="#s2"></a><a href="#s4"></a></div>
        <div><a href="#s3"></a><a href="#s1"></a></div>
    </div>

    <div class="bullets">
        <a href="#s1">1</a>
        <a href="#s2">2</a>
        <a href="#s3">3</a>
        <a href="#s4">4</a>
    </div>

</div>
