<nav>
    <div class="site-title">
        <h1>jgarfield.com</h1>
    </div>
    <ul class="navOptions">
        <li class="dropdown">
            <a href="/posts">Blog</a>
            <ul class="dropdown-content">
                <li>
                    <a href="/posts">Latest Post</a>
                </li>
                <li>
                    <a href="/posts">Archives</a>
                </li>
            </ul>
        </li>
        <li class="dropdown">
            <a href="/projects">Projects</a>
            <ul class="dropdown-content">
                <li>
                    <a href="/projects/wow-servers">WoW Servers</a>
                </li>
                <li>
                    <a href="/projects/kubernetes">Kubernetes</a>
                </li>
                <li>
                    <a href="/projects/media">Media / PVR</a>
                </li>
                <li>
                    <a href="/projects/networking">Networking</a>
                </li>
                <li>
                    <a href="/projects/hardware">Hardware</a>
                </li>
            </ul>
        </li>
        <li class="dropdown">
            <a href="/engineering">Engineering</a>
            <ul class="dropdown-content">
                <li>
                    <a href="/engineering/cheat-sheets">Cheat Sheets</a>
                </li>
                <li>
                    <a href="/engineering/notes">Notes</a>
                </li>
            </ul>
        </li>
        <li class="dropdown">
            <a href="/about">About</a>
            <ul class="dropdown-content">
                <li>
                    <a href="/about/this-site">This Site</a>
                </li>
                <li>
                    <a href="/about/my-career">My Career</a>
                </li>
                <li>
                    <a href="/about/personal-life">Personal Life</a>
                </li>
                <li>
                    <a href="/about/new-hampshire">New Hampshire</a>
                </li>
            </ul>
        </li>
    </ul>
</nav>
