---
layout: base
footer: true
---

<section class="welcome">
  <img class="avatar" src="./img/justgar-the-barbarian.jpg" />
  <h2>Justin Garfield</h2>
  <h3>Senior DevOps / Network Engineer</h3>
  <ul>
    <li>
      <a href="https://github.com/justingarfield" target="_blank"><i class="fab fa-github fa-2x"></i></a>
    </li>
    <li>
      <a href="https://www.linkedin.com/in/justingarfield" target="_blank"><i class="fab fa-linkedin fa-2x"></i></a>
    </li>
    <li>
      <a href="mailto:justin@jgarfield.com"><i class="fa fa-envelope fa-2x"></i></a>
    </li>
    <li>
      <a href="tel:16033058631"><i class="fa fa-phone fa-2x"></i></a>
    </li>
  </ul>
</section>
